<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>lxynox.asciifont</string>
	<key>category</key>
	<string>Entertainment</string>
	<key>connections</key>
	<dict>
		<key>30ABF8AB-A8F4-4692-A346-4B311A6E09E4</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>F8A67670-6AE8-4365-878B-BFF15500FDA2</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>357BC13A-CF2A-4FE1-8FDD-A30CB82FB33A</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>40386895-00B2-4150-930E-E27F4C5E39F5</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>30ABF8AB-A8F4-4692-A346-4B311A6E09E4</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>lxynox</string>
	<key>description</key>
	<string>Plain text -&gt; FIG font converter</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Ascii Font</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>largetypetext</key>
				<string>{query}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.largetype</string>
			<key>uid</key>
			<string>F8A67670-6AE8-4365-878B-BFF15500FDA2</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>./node_modules/.bin/run-node index.js "{query}"</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>30ABF8AB-A8F4-4692-A346-4B311A6E09E4</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>ascii</string>
				<key>subtext</key>
				<string>type in the text you want to convert</string>
				<key>text</key>
				<string>Convert plain text to FIG font</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>40386895-00B2-4150-930E-E27F4C5E39F5</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<false/>
				<key>clipboardtext</key>
				<string>{query}</string>
				<key>transient</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>357BC13A-CF2A-4FE1-8FDD-A30CB82FB33A</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>Alfred workflow created by [lxynox](https://github/lxynox), have fun ^_^</string>
	<key>uidata</key>
	<dict>
		<key>30ABF8AB-A8F4-4692-A346-4B311A6E09E4</key>
		<dict>
			<key>xpos</key>
			<integer>440</integer>
			<key>ypos</key>
			<integer>140</integer>
		</dict>
		<key>357BC13A-CF2A-4FE1-8FDD-A30CB82FB33A</key>
		<dict>
			<key>xpos</key>
			<integer>680</integer>
			<key>ypos</key>
			<integer>220</integer>
		</dict>
		<key>40386895-00B2-4150-930E-E27F4C5E39F5</key>
		<dict>
			<key>xpos</key>
			<integer>230</integer>
			<key>ypos</key>
			<integer>140</integer>
		</dict>
		<key>F8A67670-6AE8-4365-878B-BFF15500FDA2</key>
		<dict>
			<key>xpos</key>
			<integer>680</integer>
			<key>ypos</key>
			<integer>50</integer>
		</dict>
	</dict>
	<key>webaddress</key>
	<string>https://lxynox.github.io</string>
</dict>
</plist>
